<link href="https://fonts.googleapis.com/css?family=Cutive|Quattrocento&display=swap" rel="stylesheet"> 
<div class="container-fluid logo text-center"><mdb-icon fas icon="star" class="amber-text"></mdb-icon>WILD CIRCUS<mdb-icon fas icon="star" class="amber-text"></mdb-icon></div>
<div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item iframe"
            src="https://www.youtube.com/embed/cpuimu49mu0?autoplay=1&mute=1&rel=0&showinfo=0&controls=0&modestbranding=1&controls=0&loop=1"
            allowfullscreen data-autoplay data-keepplaying></iframe>
        </div>