.logo {
padding-top : 16px;
background-color: black;
color: white;
font-size: 3em;
font-family: 'Cutive', serif;
}

.iframe {
    margin-top : -60px;
}

.embed-responsive {
    background-color: black;
}

.amber-text {
    padding-right: 16px;
    padding-left: 16px;
}

