<link href="https://fonts.googleapis.com/css?family=Cutive|Quattrocento&display=swap" rel="stylesheet"> 
<div class="row justify-content-center row-button">
        <button type="button" mdbBtn color="white" size="sm" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Contact</button>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true" class="font-contact">×</span>
        </button>
        <h4 class="modal-title w-100 font-contact text-center" id="myModalLabel">Contact</h4>
      </div>
      <div class="modal-body">
        <!-- Default form contact -->
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      
        <!-- Name -->
        <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
          class="form-control mb-4 font-contact" placeholder="Name">
      
        <!-- Email -->
        <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
          class="form-control mb-4 font-contact" placeholder="E-mail">
      
        <!-- Subject -->
        <label class="font-contact">Sujet</label>
        <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
          <option value="" disabled class="font-contact">Choisir une option</option>
          <option value="1" selected class="font-contact">Reservation ticket</option>
          <option value="2" class="font-contact">Question </option>
          <option value="3" class="font-contact">Feedback</option>
          <option value="4" class="font-contact">Aide technique</option>
        </select>
      
        <!-- Message -->
        <div class="form-group">
          <textarea formControlName="contactFormMessage" class="font-contact form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
            rows="3" placeholder="Message"></textarea>
        </div>
      
        <!-- Copy -->
        <mdb-checkbox [default]="true" class="mb-4 font-contact">M'envoyer une copie de ce message :</mdb-checkbox>
      
        <!-- Send button -->
        <button mdbBtn color="white" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
          mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Envoyer</button>
      
      </form>
      <!-- Default form contact -->
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="white" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
        
      </div>
    </div>
  </div>
</div>
