<link href="https://fonts.googleapis.com/css?family=Cutive|Quattrocento&display=swap" rel="stylesheet"> 
<mdb-navbar SideClass="navbar navbar-expand-lg sticky-top navbar-dark black">
    <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect>Shows<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect>Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect>Contact</a>
          </li>
          </ul>
    </links>
  </mdb-navbar>