<link href="https://fonts.googleapis.com/css?family=Cutive|Quattrocento&display=swap" rel="stylesheet"> 
<div *ngFor="let artist of artistsAssets">
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <mdb-card>
                    <div class="row">
                    <!--Card image-->
                    <div class="img-container">
                    <mdb-card-img class="img-card" [src]="artist.assets" alt="Card image cap"></mdb-card-img>
                </div>
                    <!--Card content-->
                    <mdb-card-body>

                        <!--Title-->
                        <mdb-card-title>
                            <br>
                            <h4 class="font card-middle">{{artist.name}}</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text class="font"><p class="card-middle">{{artist.description}}</p>
                        </mdb-card-text>
                    </mdb-card-body>
                </div>
                </mdb-card>
            </div>
        </div>
    </div>
</div>
<br>
<hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />